.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: #424242; 
    text-align: center;
    padding: 5px 20px;
    border-radius: 10px;
    color: gold;
    font-size: 30px;
    border: none;	
    margin: 20px;
}

button:hover {
    cursor: pointer;
    background-color: #F65261;
    box-shadow: 0px 20px 30px gray;
    transition: all 0.35s;
}


h1 {
    color: #F65261;
    text-align: center;
}

p {
    
}