.dialog {   
    background-color: var(--color-black);
    position: absolute;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 60vw;
    padding: 4vh 1vw;
    
  }

  .wrapper {
    display: flex;   
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 50px;
  }

.close-dialog {
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--color-red);
}

.close-dialog:hover {
    cursor: pointer;
}

.close-icon {
}

.title {
    align-self: flex-start;
    color: white;
    margin-top: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 50vh;
    min-width: 50vw;
    padding: 20px 50px;
}

.item-placeholder {
    text-transform: uppercase;
    padding: 10px 0px;
    color: var(--color-red);
    
  
}

.item-placeholder {
    font-size: 16px;
    color: var(--color-red);
}

.content-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    padding: 20px 0px;
}

.content-row-item {
    width: 100%;
}

.item-input  {
    background-color: var(--color-gray);
    outline: none;
    border:none;
    min-height: 40px;
    width: 100%;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 17.5px;
}

.error-input {
    border: 1px solid var(--color-red);

}


.overview {
  height: 200px;

  
}

.footer {
    display: flex; 
    align-self: flex-end;
    margin-top: 10px;
    gap:10px;

}

.submit, .reset {
    border: 1px solid var(--color-red);
    text-transform: uppercase;
    width: 160px;
    padding: 15px 20px;
}


.reset {
    background-color: var(--color-black);
    color: var(--color-red);
}

.submit {
    background-color: var(--color-red);
    color: white;  
    font-weight: bold;
}

.submit:hover {
    border: 1px solid white;
}

.reset:hover {
    border: 1px solid white;
}

.submit,.reset:hover {
    cursor: pointer;
    transition: 0.3s all;
}

.genre-option {
   padding-top: 6px;
   text-align: left;
   font-size: 18px;
   text-transform: capitalize;
}