* {
  --color-red: #F65261;
  --color-white: white;
  --color-black: #232323;
  --color-gray-border: #555555;
  --color-gray: #424242;
  box-sizing: border-box;
  font-family: Montserrat;
  
}

.App {
  background-color: var(--color-gray-border);
}

.dialog-sth {
  display: flex;
  justify-content: center;
  align-items: center;
}
